{
  "env":{
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:import/errors", "plugin:import/warnings"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "modules": true
    }
  },
  "plugins": ["import", "filenames", "prettier" ],
  "ignorePatterns": ["/*.js"], 
  "rules": {
    // Basics
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-console": 1,

    // Import
    "import/first": 1,
    "import/exports-last": 1,
    "import/no-duplicates": 1,
    "import/extensions": 1,
    "import/newline-after-import": 1,
    "import/prefer-default-export": 0,
    "import/max-dependencies": [1, {"max": 20}],
    "import/no-unassigned-import": 1,
    "import/no-named-default": 1,
    "import/dynamic-import-chunkname": 1,
    "import/no-absolute-path": "error",
    "import/order": [1, {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      }
    }],

    // Filename
    "filenames/match-regex": [2, "^[a-zA-Z0-9]+$", true],
    "filenames/match-exported": 2,
    "filenames/no-index": 0,

    // Prettier
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./src"]
      }
    }
  }
}
